* {background-color: rgba(164, 140, 213, 0.836)}
h1 {
    color: black;
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;
}
button {
    color: white;
    background-color: black;
    border-color: blueviolet;
    height: 100px;
    width: 200px;
    border-width: 0.3cm;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}
h2 {
    font-size: 50px;
}
p {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav {
    width: 1200px;
    height: 50px;
    text-align: center;
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
    align-items: center;
}
.btn {
    color: white;
    background-color: rgb(196, 160, 221);
    height: 50px;
    width: 140px;
    padding: 2px;
    border: 2px solid black;
    text-decoration: none;
    font-size: medium;
    align-items: center;
    text-align: center;
    line-height: 50px;
}
.sectionone {
    width: 100vw;
    height: 850px;
    font-size: 50px;
    text-align: center;
    margin: 10px 5px;
}
.sectiontwo {
    width: 100vw;
    height: 300px;
    font-size: 50px;
    text-align: center;
    margin: 10px 5px;
}
.sectionthree {
    width: 100vw;
    height: 850px;
    font-size: 50px;
    text-align: center;
    margin: 10px 5px;
}
.sectionfour {
    width: 100vw;
    height: 850px;
    font-size: 50px;
    text-align: center;
    margin: 10px 5px;
}
.sectionfive {
    width: 100vw;
    height: 650px;
    font-size: 50px;
    text-align: center;
    margin: 10px 5px;
}
.sectionsix {
    width: 100vw;
    height: 850px;
    font-size: 50px;
    text-align: center;
    margin: 10px 5px;
}